spring:
  application:
    name: restaurant-menu-api

  jpa:
    properties:
      hibernate:
        default_batch_fetch_size: 20
    hibernate:
      ddl-auto: none
    show-sql: true

  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog.yaml
  lifecycle:
    timeout-per-shutdown-phase: 30s

server:
  shutdown: graceful

management:
  endpoints:
    web:
      exposure:
        include: health, shutdown
      base-path: /
  endpoint:
    health:
      show-details: always
    shutdown:
      enabled: true
  health:
    defaults:
      enabled: false
    db:
      enabled: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html
